<section class="level-selector">
  <h4>Select level:</h4>
  <mat-form-field>
    <mat-label>Level</mat-label>
    <mat-select>
      <mat-option *ngFor="let level of levelNameListing" [value]="level.levelId" (onSelectionChange)="updateLayout($event)">
        {{level.levelName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</section>

<section class="level-layout-main" fxLayout="row" fxFlexAlign="center center" fxFlexFill>
  <section fxFlex="100%" style="text-align: center; margin: auto; padding: 2em;">
    <section fxLayout="column" fxFlexAlign="center center" fxFlexFill fxLayoutAlign="none stretch">
      <ng-container *ngFor="let layoutObjectRow of layoutObjectsPositions">
        <section fxLayout="row" fxFlexAlign="center center" fxLayoutAlign="stretch" fxFlexFill style="text-align: center; margin: auto">
          <ng-container *ngFor="let layoutObjectColumn of layoutObjectRow">
            <app-parking-lot #parkingLots *ngIf="isParkingLot(layoutObjectColumn)" [layoutObject]= layoutObjectColumn style="width: 100%;">
            </app-parking-lot>
            <app-road *ngIf="isRoad(layoutObjectColumn)" [orientation]="layoutObjectColumn.orientation" style="width: 100%">
            </app-road>
            <div [hidden]="layoutObjectColumn !== undefined" style="margin: auto; text-align: center; width:100%; background: rgba(0, 0, 0, 0.8); min-height: 7em;">
            </div>
          </ng-container>
        </section>
      </ng-container>
    </section>
  </section>
</section>
